<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.NET.Windows" version="1.7.5" targetFramework="net40" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net40" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net40" />
  <package id="Tulpep.NotificationWindow" version="1.0.18" targetFramework="net45" />
</packages>